<a href="https://colab.research.google.com/github/kashifabbas08/testrepository.123/blob/main/TEST123Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"Hello World!"
"Welcome to Python World"

In [ ]:
print("Hello World!")
print('Welcome to Python World')

Hello World!
Welcome to Python World

In [ ]:
name = "Eric"
age = 14

In [ ]:
name = "Eric"
age = 74
print("Hello %s. You are %s years old" % (name,age))

Hello Eric. You are 74 years old

In [ ]:
#name = "Eric"
#age = 74
print("Hello {}. You are {} years old".format(name,age))
print("Hello {}, you are {} years old".format("Python", age))

Hello Eric. You are 14 years old
Hello Python, you are 14 years old

In [ ]:
person = {'name':'Eric','age':74}

In [ ]:

print("Hello , {name}. You are {age} year old.".format(name=person['name'], age=person['age']))

Hello , Eric. You are 74.
Hello , Eric. You are 74 year old.

In [ ]:
print("Hello , {name}. You are {age}.".format(**person))

In [ ]:
first_name = "Eric"
last_name = "Idle"
age = 74
profession = "Comaddian"

In [ ]:
f"Hello , {first_name}, you are {age}"

'Hello , Eric, you are 74'

In [ ]:
def to_lowercase(input):
  return input.lower()

name= "Eric Idle"
f"{to_lowercase(name)} is funny"

'eric idle is funny'

In [ ]:
def to_lowercase(input):
  return input.upper()

name= "Eric Idle"
F"{to_lowercase(name)} is funny"

'ERIC IDLE is funny'

In [ ]:
"abytabi".upper()

'ABYTABI'

In [ ]:
f"{2*82}"

'164'

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#for() loo
date = [1989,1993,2021]
N = len(date)

for i in range(N):
  print(date[i])

1989
1993
2021

In [ ]:
squares = ['red','yesllow','green','black','blue']

for i, square in enumerate(squares):
  print(i, square)

0 red
1 yesllow
2 green
3 black
4 blue

In [ ]:
squares = ['red','yesllow','green','black','blue']

In [ ]:
i= -5
while (i < 6):
  print(i)
  i=i+1

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [ ]:
for i in range (-5, 6):
  print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [ ]:
[j + k for j in 'xyz' for k in 'abc']

['xa', 'xb', 'xc', 'ya', 'yb', 'yc', 'za', 'zb', 'zc']

In [ ]:
[j + k for j in 'abc' for k in 'ABC']

['aA', 'aB', 'aC', 'bA', 'bB', 'bC', 'cA', 'cB', 'cC']

In [ ]:
name = "Eric"
age = 60
if age > 75:
  print("Hello , %s you are not eligible for License" %(name))
else:
  print(("Hello , %s you are eligible for License" %(name)))

Hello , Eric you are eligible for License

In [1]:
for x in "bananan":
  print(x)

b
a
n
a
n
a
n

In [2]:
fruits = ["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [3]:
fruits = ["apple","banana","cherry"]
for x in fruits:
  if x=="banana":
    break
  print(x)

apple

In [4]:
fruits = ["apple","banana","cherry"]
for x in fruits:
  if x=="banana":
    continue
  print(x)

apple
cherry

In [7]:
for i in range(2,12,3):
  print(i)

2
5
8
11

In [8]:
for i in range(6):
  print(i)
else:
  print("loop Finished!")

0
1
2
3
4
5
loop Finished!

In [11]:
for i in range(6):
  if i == 4: break
  print(i)
else:
  print("Loop finished!")

0
1
2
3

In [12]:
for i in range(6):
  if i == 4: pass
  print(i)
else:
  print("Loop finished!")

0
1
2
3
4
5
Loop finished!

In [13]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [17]:
a = input("input a number")

input a number2

In [14]:
for x in [0,1,2]:
  pass

In [18]:
a = input("input a number")
int(a)

input a number5

5

In [26]:
a = input("input a number")
num = int(a)
for i in range(1,11):
  print(num, 'x', i, '=', num*i)

input a number4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [32]:
#ternary statement
a,b=98,88
print(a,b)
min = a if a<b else b
print(min)
#print("both a and b are equal" if a==b ,"a is greater than b " else if a>b, "b is greater than a" else)

98 88
88

In [36]:
#list tuple set  
#list - ordered and item can be placed at the end. changable(add or remove). Allow duplicates
mylist=["apple","banana","cherry"]
print(mylist)
#tuple - Ordered and unchangable - no delete, no sord no addition and allow duplicate
mytuple=("apple","banana","cherry")
print(mytuple)
print(type(mytuple))
#set - unordered and unchangeable and cannot be duplicated
myset = {"apple","banana","cherry"}
print(myset)
#dictonary - key is not duplicate, unordered, changable
mydict={
    a : "apple"
    b : "bananan"
    c : "cherry"
}

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
<class 'tuple'>
{'apple', 'cherry', 'banana'}