<a href="https://colab.research.google.com/github/kashifabbas08/testrepository.123/blob/main/TEST123Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"Hello World!"
"Welcome to Python World"

In [ ]:
print("Hello World!")
print('Welcome to Python World')

Hello World!
Welcome to Python World

In [ ]:
name = "Eric"
age = 14

In [ ]:
name = "Eric"
age = 74
print("Hello %s. You are %s years old" % (name,age))

Hello Eric. You are 74 years old

In [ ]:
#name = "Eric"
#age = 74
print("Hello {}. You are {} years old".format(name,age))
print("Hello {}, you are {} years old".format("Python", age))

Hello Eric. You are 14 years old
Hello Python, you are 14 years old

In [ ]:
person = {'name':'Eric','age':74}

In [ ]:

print("Hello , {name}. You are {age} year old.".format(name=person['name'], age=person['age']))

Hello , Eric. You are 74.
Hello , Eric. You are 74 year old.

In [ ]:
print("Hello , {name}. You are {age}.".format(**person))

In [ ]:
first_name = "Eric"
last_name = "Idle"
age = 74
profession = "Comaddian"

In [ ]:
f"Hello , {first_name}, you are {age}"

'Hello , Eric, you are 74'

In [ ]:
def to_lowercase(input):
  return input.lower()

name= "Eric Idle"
f"{to_lowercase(name)} is funny"

'eric idle is funny'

In [ ]:
def to_lowercase(input):
  return input.upper()

name= "Eric Idle"
F"{to_lowercase(name)} is funny"

'ERIC IDLE is funny'

In [ ]:
"abytabi".upper()

'ABYTABI'

In [ ]:
f"{2*82}"

'164'

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#for() loo
date = [1989,1993,2021]
N = len(date)

for i in range(N):
  print(date[i])

1989
1993
2021

In [ ]:
squares = ['red','yesllow','green','black','blue']

for i, square in enumerate(squares):
  print(i, square)

0 red
1 yesllow
2 green
3 black
4 blue

In [ ]:
squares = ['red','yesllow','green','black','blue']

In [ ]:
i= -5
while (i < 6):
  print(i)
  i=i+1

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [ ]:
for i in range (-5, 6):
  print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [ ]:
[j + k for j in 'xyz' for k in 'abc']

['xa', 'xb', 'xc', 'ya', 'yb', 'yc', 'za', 'zb', 'zc']

In [ ]:
[j + k for j in 'abc' for k in 'ABC']

['aA', 'aB', 'aC', 'bA', 'bB', 'bC', 'cA', 'cB', 'cC']

In [ ]:
name = "Eric"
age = 60
if age > 75:
  print("Hello , %s you are not eligible for License" %(name))
else:
  print(("Hello , %s you are eligible for License" %(name)))

Hello , Eric you are eligible for License

In [1]:
for x in "bananan":
  print(x)

b
a
n
a
n
a
n

In [2]:
fruits = ["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [3]:
fruits = ["apple","banana","cherry"]
for x in fruits:
  if x=="banana":
    break
  print(x)

apple

In [4]:
fruits = ["apple","banana","cherry"]
for x in fruits:
  if x=="banana":
    continue
  print(x)

apple
cherry

In [7]:
for i in range(2,12,3):
  print(i)

2
5
8
11

In [8]:
for i in range(6):
  print(i)
else:
  print("loop Finished!")

0
1
2
3
4
5
loop Finished!

In [11]:
for i in range(6):
  if i == 4: break
  print(i)
else:
  print("Loop finished!")

0
1
2
3

In [12]:
for i in range(6):
  if i == 4: pass
  print(i)
else:
  print("Loop finished!")

0
1
2
3
4
5
Loop finished!

In [13]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [17]:
a = input("input a number")

input a number2

In [14]:
for x in [0,1,2]:
  pass

In [18]:
a = input("input a number")
int(a)

input a number5

5

In [26]:
a = input("input a number")
num = int(a)
for i in range(1,11):
  print(num, 'x', i, '=', num*i)

input a number4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [32]:
#ternary statement
a,b=98,88
print(a,b)
min = a if a<b else b
print(min)
#print("both a and b are equal" if a==b ,"a is greater than b " else if a>b, "b is greater than a" else)

98 88
88

In [44]:
#list tuple set  
#list - ordered and item can be placed at the end. changable(add or remove). Allow duplicates
mylist=["apple","banana","cherry"]
print(mylist)
#tuple - Ordered and unchangable - no delete, no sord no addition and allow duplicate
mytuple=("apple","banana","cherry")
print(mytuple)
print(type(mytuple))
#set - unordered and unchangeable and cannot be duplicated
myset = {"apple","banana","cherry"}
print(myset)
#dictonary - key is not duplicate, unordered, changable
mydict={
    "a" : "apple",
    "b" : "bananan",
    "c" : "cherry"
  }
print(mydict)
print(mydict["a"])

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
<class 'tuple'>
{'apple', 'cherry', 'banana'}
{'a': 'apple', 'b': 'bananan', 'c': 'cherry'}
apple

In [48]:
#example
a="*"
for i in range (5):
  for j in range(i):
    print(a)
  print("\n")

*


*
*


*
*
*


*
*
*
*

In [2]:
#list of list
mylist1=["apple","banana","cherry"]
mylist2=["Mango","Grapes","oranges"]
mylist3=[mylist1,mylist2]
print(mylist3)
print(type(mylist3))

[['apple', 'banana', 'cherry'], ['Mango', 'Grapes', 'oranges']]
<class 'list'>

In [3]:
type(10.2)

float

In [21]:
mylist=["apple","banana","cherry"]
mylist.append(1)
mylist.remove("apple")
mylist.insert(0,"Mango")
mylist.insert(2,"orange")
print(mylist)
mylist.insert(3,1)
mylist[1:3]=[2,55]
print(mylist[0:6])
mylist1=["apple","banana","cherry"]
mylist2=["Mango","Grapes","oranges"]
mylist3=[mylist1,mylist2]
mylist4=mylist1+mylist2
print(mylist3)
print(mylist4)

['Mango', 'banana', 'orange', 'cherry', 1]
['Mango', 2, 55, 1, 'cherry', 1]
[['apple', 'banana', 'cherry'], ['Mango', 'Grapes', 'oranges']]
['apple', 'banana', 'cherry', 'Mango', 'Grapes', 'oranges']

In [20]:
mylist=["apple","banana","cherry"]
cplist=mylist.copy()
print(mylist)
cplist.append(1)
print(cplist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 1]

In [22]:
#tuple - Ordered and unchangable - no delete, no sord no addition and allow duplicate
mytuple=("apple","banana","cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [28]:
mylist=list(("apple","banana","cherry"))
mytuple2=tuple(("apple","banana","cherry"))
mytuple=list(mytuple2)
print(type(mylist))
print(type(mytuple))

<class 'list'>
<class 'list'>

In [12]:
#Set duplicate is not allowed
myset={"apple","banana","cherry"}
myset.add("mango")
myset.add("grapes")
myset.remove("apple")
print(myset)

myset2={"a","b","c"}
myset3={"apple","banana","cherry"}
myset4=myset2.union(myset3)
print(myset4)

{'grapes', 'cherry', 'banana', 'mango'}
{'a', 'b', 'apple', 'c', 'cherry', 'banana'}

In [23]:
#Dictonary
mydict={
    "a" : "apple",
    "b" : "banana",
    "c" : "cherry",
    "colors": ["red", "white", "blue"]
}
print(mydict.values())
print(mydict.keys())
print(mydict["b"])
print(mydict.get("c"))
mydict["xyz"]=10
mydict["Year"]=2020
mydict.pop("a")
mydict.update({"b" : "banana1"})
print(mydict.values())

dict_values(['apple', 'banana', 'cherry', ['red', 'white', 'blue']])
dict_keys(['a', 'b', 'c', 'colors'])
banana
cherry
dict_values(['banana1', 'cherry', ['red', 'white', 'blue'], 10, 2020])

In [28]:
#disct loop
mydict={
    "a" : "apple",
    "b" : "banana",
    "c" : "cherry",
    "colors": ["red", "white", "blue"]
}
for x in mydict:
  print(x)
print("\n")
for x in mydict:
  print(mydict[x])

a
b
c
colors


apple
banana
cherry
['red', 'white', 'blue']

In [31]:
#Dict loop
thisdict={
    "a" : "apple",
    "b" : "banana",
    "c" : "cherry",
    "colors": ["red", "white", "blue"]
}
for x in thisdict.values():
  print(x)

for x in thisdict.keys():
  print(x)

for x in thisdict.items():
  print(x)

apple
banana
cherry
['red', 'white', 'blue']
a
b
c
colors
('a', 'apple')
('b', 'banana')
('c', 'cherry')
('colors', ['red', 'white', 'blue'])

In [32]:
#copy dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [37]:
#nested Dict
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)
print(myfamily["child1"]["name"])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
Emil

In [47]:
from array import *
array1=array('i',[10,20,30,40,50])
#array2=array('c',["a","b","p","p","l","e"])
#print(array2[0])
print(array1[0])

10

In [60]:
#wb = gc.create('demo')
#!touch "/content/gdrive/My Drive/sample_file.txt"
#file handling
##from google.colab import files
#uploaded = files.upload()
f = open("https://raw.githubusercontent.com/kashifabbas08/testrepository.123/main/Test%20Meters.csv",'r')
f.readlines()

FileNotFoundError: ignored

In [62]:
import pandas as pd
import requests

pd.read_csv("https://raw.githubusercontent.com/kashifabbas08/testrepository.123/main/Test%20Meters.csv")

    25780  524139  34  34.1  ... NULL.21  1073.1  0x0000000000598764 NULL.22
0   25781  524140  34    34  ...     NaN    1073  0x0000000000598968     NaN
1   25782  524141  34    34  ...     NaN    1073  0x0000000000598E4F     NaN
2   25783  524142  34    34  ...     NaN    1073  0x00000000005988E8     NaN
3   25784  524143  34    34  ...     NaN    1073  0x0000000000598503     NaN
4   25785  524144  34    34  ...     NaN    1073  0x00000000005983FF     NaN
5   25786  524145  34    34  ...     NaN    1073  0x00000000005986E4     NaN
6   25787  524146  34    34  ...     NaN    1073  0x0000000000598C18     NaN
7   25788  524147  34    34  ...     NaN    1073  0x00000000005987AC     NaN
8   25789  524148  34    34  ...     NaN    1073  0x0000000000599694     NaN
9   25790  524149  34    34  ...     NaN    1073  0x0000000000598CC9     NaN
10  25791  524150  34    34  ...     NaN    1073  0x0000000000598705     NaN
11  25792  524151  34    34  ...     NaN    1073  0x0000000000598D9B     NaN
12  25793  524152  34    34  ...     NaN    1073  0x0000000000598B58     NaN
13  25794  524153  34    34  ...     NaN    1073  0x0000000000598A15     NaN
14  25795  524154  34    34  ...     NaN    1073  0x0000000000598718     NaN
15  25796  524155  34    34  ...     NaN    1073  0x0000000000598824     NaN
16  25797  524156  34    34  ...     NaN    1073  0x0000000000598F1C     NaN
17  25798  524157  34    34  ...     NaN    1073  0x00000000005987E0     NaN
18  25799  524158  34    34  ...     NaN    1073  0x0000000000598B92     NaN
19  25800  524159  34    34  ...     NaN    1073  0x00000000005987AD     NaN
20  25801  524160  34    34  ...     NaN    1073  0x0000000000598D9D     NaN
21  25802  524161  34    34  ...     NaN    1073  0x000000000059842B     NaN
22  25803  524162  34    34  ...     NaN    1073  0x0000000000598A66     NaN

[23 rows x 47 columns]

In [64]:
f=open('C:\\abbas\\abc.csv','r+')
print(f.read())

FileNotFoundError: ignored

In [1]:
import pandas as pd
import requests

ex=pd.read_csv("https://raw.githubusercontent.com/kashifabbas08/testrepository.123/main/Test%20Meters.csv")
print(ex)

    25780  524139  34  34.1  ... NULL.21  1073.1  0x0000000000598764 NULL.22
0   25781  524140  34    34  ...     NaN    1073  0x0000000000598968     NaN
1   25782  524141  34    34  ...     NaN    1073  0x0000000000598E4F     NaN
2   25783  524142  34    34  ...     NaN    1073  0x00000000005988E8     NaN
3   25784  524143  34    34  ...     NaN    1073  0x0000000000598503     NaN
4   25785  524144  34    34  ...     NaN    1073  0x00000000005983FF     NaN
5   25786  524145  34    34  ...     NaN    1073  0x00000000005986E4     NaN
6   25787  524146  34    34  ...     NaN    1073  0x0000000000598C18     NaN
7   25788  524147  34    34  ...     NaN    1073  0x00000000005987AC     NaN
8   25789  524148  34    34  ...     NaN    1073  0x0000000000599694     NaN
9   25790  524149  34    34  ...     NaN    1073  0x0000000000598CC9     NaN
10  25791  524150  34    34  ...     NaN    1073  0x0000000000598705     NaN
11  25792  524151  34    34  ...     NaN    1073  0x0000000000598D9B     NaN
12  25793  524152  34    34  ...     NaN    1073  0x0000000000598B58     NaN
13  25794  524153  34    34  ...     NaN    1073  0x0000000000598A15     NaN
14  25795  524154  34    34  ...     NaN    1073  0x0000000000598718     NaN
15  25796  524155  34    34  ...     NaN    1073  0x0000000000598824     NaN
16  25797  524156  34    34  ...     NaN    1073  0x0000000000598F1C     NaN
17  25798  524157  34    34  ...     NaN    1073  0x00000000005987E0     NaN
18  25799  524158  34    34  ...     NaN    1073  0x0000000000598B92     NaN
19  25800  524159  34    34  ...     NaN    1073  0x00000000005987AD     NaN
20  25801  524160  34    34  ...     NaN    1073  0x0000000000598D9D     NaN
21  25802  524161  34    34  ...     NaN    1073  0x000000000059842B     NaN
22  25803  524162  34    34  ...     NaN    1073  0x0000000000598A66     NaN

[23 rows x 47 columns]

In [ ]:
class mark1:
  def passfail():
    print("Passed")

In [8]:
import pandas as pd
#thread
from collections import Counter
a="hello world, i am alive"
myCounter=Counter(a)
myCounter
#myCounter.keys()

Counter({' ': 4,
         ',': 1,
         'a': 2,
         'd': 1,
         'e': 2,
         'h': 1,
         'i': 2,
         'l': 4,
         'm': 1,
         'o': 2,
         'r': 1,
         'v': 1,
         'w': 1})

In [9]:
myCounter.most_common()

[('l', 4),
 (' ', 4),
 ('e', 2),
 ('o', 2),
 ('i', 2),
 ('a', 2),
 ('h', 1),
 ('w', 1),
 ('r', 1),
 ('d', 1),
 (',', 1),
 ('m', 1),
 ('v', 1)]

In [7]:
myCounter.values()

dict_values([1, 2, 4, 2, 4, 1, 1, 1, 1, 2, 2, 1, 1])

In [11]:
#order dict -  put in the format you want 
from collections import OrderedDict
mydict=OrderedDict()
mydict["a"]=10
mydict["b"]=20
mydict["c"]=30
mydict

OrderedDict([('a', 10), ('b', 20), ('c', 30)])

In [12]:
#defaultdict- 
from collections import defaultdict
mydict=defaultdict(float)
mydict["a"]=10
mydict["b"]=20
mydict["c"]=30
mydict["x"]
mydict

defaultdict(float, {'a': 10, 'b': 20, 'c': 30, 'x': 0.0})

In [17]:
from collections import defaultdict
def default_func():
 return("not found")

mydict=defaultdict(default_func)
mydict["a"]=10
mydict["b"]=20
mydict["c"]=30
mydict["x"]
mydict

defaultdict(<function __main__.default_func>,
            {'a': 10, 'b': 20, 'c': 30, 'x': 'not found'})

In [19]:
from collections import defaultdict
mydict=defaultdict(lambda: "Not found")
mydict["a"]=10
mydict["b"]=20
mydict["c"]=30
mydict["x"]
mydict

defaultdict(<function __main__.<lambda>>,
            {'a': 10, 'b': 20, 'c': 30, 'x': 'Not found'})

In [ ]:
#deque - collection

In [4]:
#class inheritance return callbyValue callByReference oOPS concept
def fruit():
  return "Apple"

print(fruit())

##Python has multiple return type
def fruits():
  return "Apple","Banana",100,False

print(fruits())

Apple
('Apple', 'Banana', 100, False)

In [6]:
#yield
def fruits():
  yield "Apple","Banana",100,False

print(fruits())
print(next(fruits()))

<generator object fruits at 0x7f1fec154db0>
('Apple', 'Banana', 100, False)

In [7]:
#call by object
def add(a,b):
  return(a+b)
c=add(10,20)
print(c)

30

In [5]:
#class
class Student:
  _SchoolName='CVB School' #

class NewStudent(Student):
  _SchoolName="CMS"
  PublicSchool=_SchoolName

S=NewStudent()
S.PublicSchool

'CMS'

In [11]:
class Tweet:
  def __init__(self, message, time):
    self.message= message
    self.time= time

  def __lt__(self, other):
    return self.time < other.time

  def __gt__(self,other):
    return self.time > other.time

oldertweet = Tweet("hey",1000)
newtweet = Tweet("hi",100)
print(newtweet < oldertweet)

True

In [18]:
class Tweet:
    def __init__(self, message, word):
        self.message = message
        self.word = word
       
    def __contains__(self, message):
        return word in self.message
        #Implement the method

tweet = "I just flushed my toilet"
word = "abc"
if word in tweet:
  print("true")
else:
  print("false")
#now write code to check if the word "flushed" is in the tweet
#and print something nice if that's the case

false