<a href="https://colab.research.google.com/github/kashifabbas08/testrepository.123/blob/main/TEST123Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"Hello World!"
"Welcome to Python World"

In [ ]:
print("Hello World!")
print('Welcome to Python World')

Hello World!
Welcome to Python World

In [ ]:
name = "Eric"
age = 14

In [ ]:
name = "Eric"
age = 74
print("Hello %s. You are %s years old" % (name,age))

Hello Eric. You are 74 years old

In [ ]:
#name = "Eric"
#age = 74
print("Hello {}. You are {} years old".format(name,age))
print("Hello {}, you are {} years old".format("Python", age))

Hello Eric. You are 14 years old
Hello Python, you are 14 years old

In [ ]:
person = {'name':'Eric','age':74}

In [ ]:

print("Hello , {name}. You are {age} year old.".format(name=person['name'], age=person['age']))

Hello , Eric. You are 74.
Hello , Eric. You are 74 year old.

In [ ]:
print("Hello , {name}. You are {age}.".format(**person))

In [ ]:
first_name = "Eric"
last_name = "Idle"
age = 74
profession = "Comaddian"

In [ ]:
f"Hello , {first_name}, you are {age}"

'Hello , Eric, you are 74'

In [ ]:
def to_lowercase(input):
  return input.lower()

name= "Eric Idle"
f"{to_lowercase(name)} is funny"

'eric idle is funny'

In [ ]:
def to_lowercase(input):
  return input.upper()

name= "Eric Idle"
F"{to_lowercase(name)} is funny"

'ERIC IDLE is funny'

In [ ]:
"abytabi".upper()

'ABYTABI'

In [ ]:
f"{2*82}"

'164'

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#for() loo
date = [1989,1993,2021]
N = len(date)

for i in range(N):
  print(date[i])

1989
1993
2021

In [ ]:
squares = ['red','yesllow','green','black','blue']

for i, square in enumerate(squares):
  print(i, square)

0 red
1 yesllow
2 green
3 black
4 blue

In [ ]:
squares = ['red','yesllow','green','black','blue']

In [ ]:
i= -5
while (i < 6):
  print(i)
  i=i+1

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [46]:
for i in range (-5, 6):
  print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5